* {
    margin: 0;
    padding: 0;
}
[box-id]{
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: 0.2s;
}

#msg{
    font-size: 36px;
    text-align: center;
    color:cornflowerblue;
}

[box-id].active{
    /* padding: 3px; */
    border: solid 5px cornflowerblue;;
    box-shadow: 0 0 10px cornflowerblue;;
    transition:  0s;
}