H1{
    writing-mode: vertical-lr;
    color: white;
    font-size: 90px;
    font-weight: 100;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
H2{
    color: white;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px 10px;
    margin: auto;
}
H3{
    color: aliceblue;
    font-size: 20px;
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 0px 5px;
}
H4{
    color:rgb(180, 0, 35);
    font-size: 20px;
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}
H5{
    color: aliceblue;
    font-size: 16px;
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border-radius: 5px;
    background-color: #222;
    display: inline;
}
p{
    color:aliceblue;
    font-size: 17px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1px;
    line-height: 1.6;
    text-align: justify;
}
.card{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 920px;
    justify-content:space-between;
    position: relative;
    padding: 20px;
}
.card:nth-child(even){
    flex-direction:row-reverse;
}
.text-box-01{
    display: block;
    width: 280px;
    padding: 10px;
    z-index: 6;
    
}


.item{
    background:rgb(180, 0, 35);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
.content{
    background: #000;
    display: block;
    padding: 10px;
    padding-bottom: 20px;
    /* flex-wrap: wrap; */
}
.makeup{
    width: 450px;
    height: 265px;
    background-color: #eee;
    margin-top: 35px;
    z-index: 0;

}

.card:nth-child(even) .makeup{
    position: absolute;
    width: 480px;
    height: 360px;
    background-color: #eee;
    margin-top: 50px;
    margin-right: 100px;
    z-index: 0;
}
.pic-area{
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}

.main-pic{
    position: absolute;
    top:130px;
    left: 180px;
}

.card:nth-child(even) .main-pic{
    position: absolute;
    top:130px;
    left: 40px;
    z-index: 3;
}

.yticon{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 330px;
    right: 70px;
    z-index: 3;
}
.card:nth-child(even) .yticon{
    position: absolute;
    top:330px;
    left: 30px;
    z-index: 3;
}

.text-box-02{
    width: 580px;
    padding: 20px 10px 10px;
    background-color: #eee;
    margin: 210px 80px 10px;
    z-index: 3;
}

.safty .text-box-02{
    margin: 210px 10px 20px;
    z-index: 3;
}

.confort .text-box-02{
    margin: 185px 50px 20px;
    z-index: 3;
}

/* .humanity .text-box-02{
    position: relative;
    top:-50px;
    z-index: 3;
} */

.humanity .text-box-02{
    margin: 160px 10px 20px;
    z-index: 3;
}

H4::after{
    content: '11111111111111111111111111111111111';
    text-decoration:line-through solid rgb(180, 0, 35) 2px;
    color: #eee;
    margin-left: 5px;
}
.text-box-02 p{
    color:#666;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 15px;
    line-height: 1.5;
    display: block;
    margin: 10px;
}
.text-box-02 p::before{
    content: '\2022';
    color: red;
    margin-left: -11px;
    margin-right: 5px;

}